

@mixin transition{
    transition: all 0.2s ease;
}
@mixin center-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}



@mixin button_fx {
    transform: translateY(0) scale(1);
    cursor: pointer;

    &:hover{
      transform: translateY(-0.2rem) scale(1.02);
    }
    &:active{
      transform: translateY(0.1rem) scale(1.01);
    }
}
